PORT=3000
MONGODB_URI=mongodb://localhost:27017/tunisia_store
JWT_SECRET=your_strong_jwt_secret_here
JWT_EXPIRE=7d
FRONTEND_URL=http://localhost:4200
RESEND_API_KEY=re_123456789

ADMIN_EMAIL=admin@tunisiastore.tn
ADMIN_PASSWORD=Admin@123456

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

SMS_TO_KEY=your_sms_to_api_key

KONNECT_API_KEY=your_konnect_api_key
KONNECT_WALLET_ID=your_wallet_id
D17_MERCHANT_ID=your_d17_merchant
D17_API_KEY=your_d17_key
FRONTEND_URL=http://localhost:4200

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=adem.micro13@gmail.com
SMTP_PASS=qbsq dvhc yiuu ktex
